$font-size: 18px;

$serif :  'Sanchez', serif;
$sans-serif : 'Raleway', sans-serif;
$chiffres : 'Gotham-Bold', sans-serif;

$white : #fff;
$mainDark : #666;
$black : #000;
$darkBrand1 : #cf9e23;
$lightBrand1 : #f7dd9d;
$brand1 : #fcc12d;